{
  // Always add semicolons at the end of statements
  "semi": true,
  // Use single quotes instead of double quotes
  "singleQuote": true,
  // Use 2 spaces for indentation
  "tabWidth": 2,
  // Add trailing commas where valid in ES5 (objects, arrays, etc.)
  "trailingComma": "es5",
  // Wrap lines at 100 characters
  "printWidth": 100,
  // Add spaces between brackets in object literals
  "bracketSpacing": true,
  // Omit parens around single arrow function parameters
  "arrowParens": "avoid",
  // Use Unix-style line endings (LF)
  "endOfLine": "lf"
} 